.navigation-container {
  list-style: none;
  background: #2d2d2d;
}
nav ul {
  margin-top: 0;
  padding-left: 14px;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
}

nav ul li:first-child {
  padding-left: 0;
}


nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 1em;
}
nav ul li:first-child a {
  color: #fff;
}


/* Search Bar */
/* f7fdff */
/* colorzilla */
.search-container {
  background: #f4f4f4;
  padding: 40px;
}

input[type=text] {
  border-radius: 10px;
}
label {
  font-weight: bold;
}


/* sub search bar */
.filters-container {
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.filters-container ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

}

.filters-container ul li {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}

.filters-container ul li a {
  color: #9faba7;
  padding: 0 10px;
  margin: 0 auto;
  text-decoration: none;
}

.active {
  border-bottom: 4px solid #e30426;
  color: #e30426;
}
.active a {
  color: #e30426;
}

/* Main content links */
div.main-container {
  width: 700px;
  margin: 0 auto;
}

.main-container ul {
  list-style: none;
  margin-bottom: 40px;
}

.main-container ul a {
  color: blue;
  padding-bottom: 0;
  margin-bottom: 0;
}

.green-link {
  color: green;
  padding: 0 0;
  margin: 1px 1px;

}

.main-container ul li p {
  margin-top: 1px;
  padding-top: 0px;
}
