<h1> All Games </h1>
<table>
  <tr>
    <th>Home</th>
    <th>Away</th>
    <th>Home Score</th>
    <th>Away Score</th>
  </tr>
<% @scores.each do |row| %>
  <tr>
    <td><%= row[:hometeam] %> vs. </td>
    <td><%= row[:awayteam] %></td>
    <td><%= row[:homescore] %></td>
    <td><%= row[:awayscore] %></td>
  </tr>
<% end %>
</table>

<h1> Leaderboard </h1>
<table>
  <tr>
    <th>Team Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Ties</th>
  </tr>
  <tr>
    <td>Patriots</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Broncos</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Colts</td>
    <td>0</td>
    <td>2</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Steelers</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
  </tr>
</table>
